<!doctype html>
<html>

<head>
    <title>Chit-Chat Landing Page</title>
    <meta charset="UTF-8">
    <meta name="description" content="chit-chat">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/icon.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            font-family: "Poppins", sans-serif;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <div class="w-full max-w-[1440px] bg-white mx-auto">
        <div class="navbar py-6 md:py-12 flex px-20 items-center justify-between">
            <img class="h-12" src="./images/logo.png" alt="logo">
        </div>
        <div class="header px-8 md:px-20 flex justify-between md:flex-row flex-col-reverse">
            <div class="w-full md:w-1/2 mt-6 md:pt-10">
                <h1 class="font-bold text-gray-700 md:text-5xl text-3xl md:max-w-xs leading-tight">Virtual Meet and Greet</h1>
                <p class="md:text-lg text-md my-5 md:my-6 max-w-sm font-normal text-gray-500">Join your favourite influencers on a <br> one-on-one virtual meet and greet</p>
                <div class="flex items-center space-x-3">
                    <a href="https://forum.chit-chat.net/page/login" target="_blank" class="font-bold text-center text-white md:w-fit py-2 border border-[#FEA6B9] px-4 rounded-md bg-[#FEA6B9] w-1/2 uppercase">Buy a ticket</a>
                    <a href="mailto:hilmyhisyam95@gmail.com" target="_blank" class="font-bold text-[#FEA6B9] py-2 text-center px-4 rounded-md w-1/2 md:w-fit border border-[#FEA6B9] uppercase  hover:bg-[#FEA6B9] hover:text-white">Book an Event</a>
                </div>
                <p class="md:text-lg max-w-sm font-normal text-gray-500">@chit-chat</p>
                <p class="md:text-lg max-w-sm font-normal text-gray-500">hello@chit-chat.net</p>
            </div>
            <div class="w-full md:w-1/2">
                <img class="rounded-2xl" src="./images/hero.jpg" alt="hero">
            </div>
        </div>
    </div>
</body>

</html>